@font-face {
    font-family: 'Architects Daughter';
    src: url('../fonts/ArchitectsDaughter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: black;
}


.container {
    max-width: 1110px;
    margin: 0 auto;
	padding: 0 15px;
}

.hidden {
	display: none;
}

.header {
    background: #81A36B;
	padding: 25px 0;
}

.header_burger {
	display: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: #161616;
	font-family: Roboto;
	font-size: 18px;
}

.navigation a:hover {
	border-bottom: 2px solid black;
}

.navigation {
    display: flex;
    gap: 90px;
}

.section_1, .section_2, .section_4, .section_5 {
	background: #D8D8D6; 
}

section, .footer {
	color: #161616;
	font-size: 18px;
	font-family: Roboto;
	font-weight: 400;
}

.amelia_flowers > div {
	flex: 1 1 540px;
}

.section_1_photo {
	background: url(../images/photo1.png) no-repeat center / cover;
	height: 670px;
}

.section_1_photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.amelia_flowers, .how_we_work{
	display: flex;
	align-items: center;
	gap: 30px;
}

.title {
	color: #161616;
	font-size: 62px;
	font-family: Architects Daughter;
	margin-bottom: 40px;
}

.order {
	display: flex;
	align-items: center;
	margin-top: 20px;
	gap: 23px;
}

.order_btn {
	background: #81A36B;
	border: none;
	border-radius: 6px;
	color: #161616;
	font-size: 18px;
	font-family: Roboto;
	font-weight: 400;
	padding: 20px 31px;
	transition: all .2s linear;
}

.order_btn:hover {
	cursor: pointer;
	background: #698557;
	outline: 2px solid #5c744c;
	color: white;
}

.order_btn:active {
	background: #5c744c;
}

.order_link {
	border: solid 1px #81A36B;
	border-radius: 6px;
	display: inline-block;
	padding: 20px 16px;
	transition: all .2s linear;
}

.order_link:hover {
	background: #81A36B;
	color: white;
}

.section_2 {
	padding: 120px 0;
}

.about_us {
	text-align: center;
	width: 540px;
	margin: 0 auto;
}

.about_us .subtitle {
	text-transform: uppercase;
}

.subtitle {
	margin-bottom: 50px;
	font-size: 32px;
	font-family: Architects Daughter;
}

.how_we_work .subtitle {
	text-transform: none;
}

.section_3 {
	background: #81A36B;
	padding: 78px 0 ;
	font-family: Montserrat;
	font-weight: 500;
}

.section_3 ul {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.section_3 img {
	margin-bottom: 25px;
}

.section_3 li {
	font-weight: 500;
}

.section_4 {
	padding: 120px 0;
}

.section_4 .subtitle {
	text-align: center;
}

.how_we_work_image {
	background: url(../images/photo2.png) no-repeat center / cover;
	flex: 1 1 540px;
	height: 560px;
}

.how_we_work_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.how_we_work_image + div {
	flex: 1 1 540px;
}

.section_5 {
	padding-bottom: 120px;
}

.our_works .subtitle {
	text-align: center;
}

.cards {
	display: flex;
	gap: 30px;
	justify-content: center;
}

.card {
	border-radius: 6px;
	background: #81A36B;
	text-align: center;
	padding: 15px 15px 40px;
	flex: 0 1 33.333%;
}

.card img {
	height: 400px;
	width: 100%;
	object-fit: cover;
	margin-bottom: 20px;
}

.footer {
	background: #81A36B;
	padding: 60px 0;
}

.footer > a {
	display: inline-block;
}

.helpful {
	margin-bottom: 20px;
	font-size: 18px;
}


.contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts > p {
	font-family: Roboto;
	font-size: 24px;
	margin-bottom: 40px;
}

.social {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.data {
	margin-top: 40px;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
}

.icons {
	display: flex;
	gap: 20px;
}

.icon {
	fill: transparent;
	width: 24px;
	height: 24px;
}

@media (max-width: 1200px) {
	.navigation {
		gap: 70px;
	}
}

@media (max-width: 992px) {
	/*! HEADER !*/
	.header {
		padding: 15px 0;
	}

	.navigation {
		gap: 40px;
	}

	.navigation a {
		font-size: 16px;
	}
	/*! HEADER !*/

	/*! SECTION 1 !*/
	.amelia_flowers, .how_we_work {
		gap: 15px;
	}

	.title {
		font-size: 50px;
		margin-bottom: 30px;
	}

	p {
		font-size: 16px;
	}

	.order {
		gap: 15px;
	}

	.order_btn, .order_link {
		font-size: 16px;
		padding: 20px 20px;
	}

	.section_1_photo {
		height: 515px;
	}
	/*! SECTION 1 !*/

	/*! Section 2 !*/
	.subtitle {
		margin-bottom: 30px;
	}

	.section_2 {
		padding: 70px 0;
	}

	/*! Section 2 !*/

	/*! Section 3 !*/
	.section_3 {
		padding: 60px 0;
	}
	
	.section_3 img {
		margin-bottom: 20px;
		width: 60px;
	}
	/*! Section 3 !*/

	/*! Section 4 !*/
	.section_4 {
		padding: 60px 0;
	}
	/*! Section 4 !*/

	/*! Section 5 !*/
	.cards {
		gap: 15px;
	}
	/*! Section 5 !*/

	/*! Footer !*/
	.footer {
		padding: 15px 0;
	}

	.footer p {
		font-size: 16px;
	}

	/*! Footer !*/
}

@media (max-width: 768px) {
	/*! HEADER !*/
	.header {
		padding: 10px 0;
	}

	.header img {
		width: 100px;
	}

	.navigation {
		gap: 15px;
	}

	.navigation a {
		font-size: 14px;
	}
	/*! HEADER !*/

	/*! SECTION 1 !*/
	section {
		text-align: center;
	}

	.title {
		font-size: 45px;
		margin: 25px 0;
	}

	p {
		font-size: 14px;
	}

	.order {
		justify-content: center;
	}

	.order_btn, .order_link {
		font-size: 16px;
		padding: 10px 10px;
	}

	.section_1_photo {
		display: none;
	}
	/*! SECTION 1 !*/

	/*! Section 2 !*/
	.section_2 {
		padding: 40px 0;
	}

	.subtitle {
		font-size: 26px;
	}
	/*! Section 2 !*/

	/*! Section 3 !*/
	.section_3 {
		padding: 40px 0;
	}
	/*! Section 3 !*/

	/*! Section 4 !*/
	.how_we_work_image {
		display: none;
	}

	.section_3 {
		padding: 40px 0;
	}
	/*! Section 4 !*/

	/*! Section 5 !*/
	.cards {
		flex-flow: wrap;
	}

	.card {
		flex: 0 1 70%;
	}
	/*! Section 5 !*/

	/*! Footer !*/
	.footer .helpful {
		font-size: 14px;
	}

	.contacts img {
		width: 100px;
		height: 50px;
	}
	/*! Footer !*/
}

@media (max-width: 576px) {
	/*! HEADER !*/
	.navigation {
		display: none;
	}

	.header_burger {
		display: block;
		width: 40px;
		height: 30px;
		position: relative;
		cursor: pointer;
	}

	.header_burger::before,
	.header_burger::after,
	.header_burger span {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 4px;
		background: #4a5742;
		transition: all .2s linear;
	}

	.header_burger span {
		top: 50%;
		transform: translateY(-50%);
	}

	.header_burger::after {
		top: auto;
		bottom: 0;
	}

	.header_burger:hover span {
		transform: translateY(-50%) scale(0);
	}

	.header_burger:hover:before {
		transform: rotate(38deg);
		top: 13px;
	}

	.header_burger:hover:after {
		transform: rotate(-38deg);
		bottom: 13px;
	}
	/*! HEADER !*/

	/*! Section 2 !*/
	.about_us {
		width: 100%;
	}
	/*! Section 2 !*/

	/*! Section 3 !*/
	.section_3 {
		padding: 30px 0;
	}

	.section_3 img {
		width: 50px;
		height: 40px;
	}

	.section_3 ul {
		gap: 5px;
	}

	.section_3 p {
		font-size: 12px;
	}
	/*! Section 3 !*/

	/*! Section 5 !*/
	.card {
		flex: 0 1 100%;
	}
	/*! Section 5 !*/
}