@font-face {
    font-family: 'Architects Daughter';
    src: url('../fonts/ArchitectsDaughter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: black;
}


.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    background: #81A36B;
	padding: 25px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: #161616;
	font-family: Roboto;
	font-size: 18px;
}

.navigation {
    display: flex;
    gap: 30px;
}

.section_1, .section_2, .section_4, .section_5 {
	background: #D8D8D6; 
}

section, .footer {
	color: #161616;
	font-size: 18px;
	font-family: Roboto;
	font-weight: 400;
}

.amelia_flowers > div {
	flex: 1 1 540px;
}

.section_1_photo {
	height: 670px;
	flex: 1 1 540px;
}

.section_1_photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.amelia_flowers, .how_we_work{
	display: flex;
	align-items: center;
	gap: 30px;
}

.title {
	color: #161616;
	font-size: 62px;
	font-family: Architects Daughter;
	margin-bottom: 40px;
}

.order {
	display: flex;
	align-items: center;
	margin-top: 20px;
	gap: 23px;
}

.order_btn {
	background: #81A36B;
	border: none;
	border-radius: 6px;
	color: #161616;
	font-size: 18px;
	font-family: Roboto;
	font-weight: 400;
	padding: 20px 31px;
}

.order_link {
	border: solid 1px #81A36B;
	border-radius: 6px;
	display: inline-block;
	padding: 20px 16px;
}

.order button:hover {
	cursor: pointer;
}

.order button:active {
	background: #5c744c;
}


.section_2 {
	padding: 120px 0;
}

.about_us {
	text-align: center;
	width: 540px;
	margin: 0 auto;
}

.subtitle {
	margin-bottom: 50px;
	font-size: 32px;
	font-family: Architects Daughter;
}

.section_3 {
	background: #81A36B;
	padding: 78px 0 ;
	font-family: Montserrat;
	font-weight: 500;
}

.section_3 ul {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.section_3 img {
	margin-bottom: 25px;
}

.section_3 li {
	font-weight: 500;
}

.section_4 {
	padding: 120px 0;
}

.section_4 .subtitle {
	text-align: center;
}

.how_we_work_image {
	flex: 1 1 540px;
	height: 560px;
}

.how_we_work_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.how_we_work_image + div {
	flex: 1 1 540px;
}

.section_5 {
	padding-bottom: 120px;
}

.our_works .subtitle {
	text-align: center;
}

.cards {
	display: flex;
	gap: 30px;
	justify-content: center;
}

.card {
	border-radius: 6px;
	background: #81A36B;
	text-align: center;
	padding: 15px 15px 40px;
	flex: 1 1 350px;
}

.card img {
	height: 400px;
	width: 100%;
	object-fit: cover;
	margin-bottom: 20px;
}

.footer {
	background: #81A36B;
	padding: 50px 0;
}

.contacts {
	text-align: center;
}

.contacts > a {
	display: inline-block;
}

.contacts p {
	padding: 25px 0 15px 0;
	font-size: 24px;
}

.contacts p:last-child {
	padding-bottom: 0;
	padding-top: 15px;
	font-size: 16px;
	font-weight: 500;
}

.contacts .helpful {
	padding: 15px 0;
	font-size: 18px;
}

.social {
	display: flex;
	justify-content: center;
	gap: 20px;
}